/**
 * Structure
 */


main {
  margin: auto;
  width: 70%;
  max-width: 80em;
}


/**
 * Style
 */


table {
  margin-bottom: 1em;
}

.bordered-table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  font-size: 2em;
  text-align: left;
}

thead {
  font-weight: bold;
}

.bordered-table td  {
  border: 1px solid black;
}