/**
 * 
 * STRUCTURE
 * 
 */


main {
  margin: auto;
  width: 70%;
  max-width: 80em;
}


/**
 * 
 * STYLE
 * 
 */


/* Tables */

table {
  margin-bottom: 1em;
}

.bordered-table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  font-size: 2em;
  text-align: left;
}

thead {
  font-weight: bold;
}

.bordered-table td  {
  border: 1px solid black;
}

a.link-row {
  display: block;
  text-decoration: none;
  height: 100%;
  color: black;
}

tr.link-row:hover {
  background: rgb( 230, 230, 255 );
}

td.link-row {
  margin: 0;
  padding: 0;
}

/* Errors */

.error {
  background: rgb(170, 0, 0);
  padding: 0.2em;
  font-family: arial;
  color: white;
  font-weight: bold;
}